<footer>
  <div id="pricipal">
    <div class="d-flex justify-content-center">
      <h4>Contactos</h4>
    </div>
    <div class="d-flex justify-content-center">
      <div class="m-2" id="icons">
        <a
          href="https://www.linkedin.com/in/juan-estiben-s%C3%A1nchez-mart%C3%ADnez-30b54a1b0"
          target="_blank"
          ><i class="bi bi-linkedin"
            ><br />
            Linkedin
          </i></a
        >
      </div>
      <div class="m-2" id="icons">
        <a href="https://github.com/jesm17" target="_blank"
          ><i class="bi bi-github"><br />Github</i>
        </a>
      </div>
      <div class="m-2" id="icons">
        <a href="https://jesm17.github.io/portafolio/" target="_blank"
          ><i class="bi bi-globe"><br />Portafolio</i>
        </a>
      </div>
    </div>
  </div>
</footer>
