<div>
  <div id="search">
    <div class="d-flex justify-content-end">
      <div class="p-1 m-1">

          <input
            class="form-control me-2"
            type="search"
            placeholder="Buscar pokemon"
            aria-label="Search"
            [(ngModel)]="shearh.name"
          />
        </div>
        <div class="p-1 m-1">
          <button class="btn btn-outline-success" (click)="getOnePokemon(shearh.name)">
            <i class="bi bi-search"></i>
          </button>

      </div>
    </div>
  </div>

  <div class="row" *ngIf="hiddenP">
    <div class="col-3" *ngFor="let pokemon of pokemon">
      <div class="card p-2 m-2">
        <div class="d-flex justify-content-center text-uppercase">
          {{ pokemon.name }}
        </div>
        <div class="d-flex justify-content-between">
          <div class="p-1 m-1">
            <img src="{{ pokemon.sprites.front_default }}" alt="" />
          </div>
          <div class="p-1 m-1">
            Tipo:
            <div *ngFor="let types of pokemon.types">
              {{ types.type.name }}
            </div>
          </div>
          <div class="p-1 m-1">
            Habilidades:
            <div *ngFor="let abilities of pokemon.abilities">
              {{ abilities.ability.name }}
            </div>
          </div>
        </div>
        <div>
          <div class="row row-cols-2">
            <div class="col" *ngFor="let stast of pokemon.stats">
              {{ stast.stat.name }}

              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-label="Basic example"
                  style="width: {{ stast.base_stat }}%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center p-3" *ngIf="hiddenP">
    <button
      class="btn btn-danger m-1 p-1"
      *ngIf="hidden"
      (click)="backPokemon()"
    >
      <i class="bi bi-chevron-double-left"></i>Atras
    </button>
    <button class="btn btn-success m-1 p-1" (click)="nextPokemon()">
      Siguiente<i class="bi bi-chevron-double-right"></i>
    </button>
  </div>
  <div class="d-flex justify-content-center" *ngFor="let onePokemon of onePokemon ">
    <div class="card p-2 m-2">
      <div class="d-flex justify-content-center text-uppercase">
        {{ onePokemon.name }}
      </div>
      <div class="d-flex justify-content-between">
        <div class="p-1 m-1">
          <img src="{{ onePokemon.sprites.front_default }}" alt="" />
        </div>
        <div class="p-1 m-1">
          Tipo:
          <div *ngFor="let types of onePokemon.types">
            {{ types.type.name }}
          </div>
        </div>
        <div class="p-1 m-1">
          Habilidades:
          <div *ngFor="let abilities of onePokemon.abilities">
            {{ abilities.ability.name }}
          </div>
        </div>
      </div>
      <div>
        <div class="row row-cols-2">
          <div class="col" *ngFor="let stast of onePokemon.stats">
            {{ stast.stat.name }}

            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                aria-label="Basic example"
                style="width: {{ stast.base_stat }}%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer> </app-footer>
</div>
